{{define "menu"}}
{{if .authorized}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark wish_nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WishSquishy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/wishlist">Список пожеланий</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wishtracker">История</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Аккаунт</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{else}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WishSquishy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/signin">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Аккаунт</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{end}}
{{end}}