{{template "header"}}

{{template "menu"}}

<div class="signin_wrapper">
    <div class="container signin_container">
        <h4>Авторизация</h4>
        <div class="row justify-content-md-center">
            <div class="signin_form col-4">
                <form action="/signin" method="post">
                    <div class="mb-3">
                        <label for="InputEmail" class="form-label">Email адресс</label>
                        <input type="email" name="email" class="form-control" id="InputEmail">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Пароль</label>
                        <input type="password" name="password" class="form-control" id="InputPassword">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-danger">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}