{{template "header"}}

{{template "menu"}}

<div class="signup_wrapper">
    <div class="container signup_container">
        <h4>Регистрация</h4>
        <div class="row justify-content-md-center">
            <div class="signup_form col-4">
                <form action="/signup" method="post">
                    <div class="mb-3">
                        <label for="InputEmail" class="form-label">Email адресс</label>
                        <input type="email" name="email" class="form-control" id="InputEmail">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Пароль</label>
                        <input type="password" name="password" class="form-control" id="InputPassword">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ознакомлен с условиями <a href="">соглашения</a>
                        </label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-danger">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}