{{template "header" .}}

{{template "menu" .}}

<div class="container">
    <div class="row">
        <div class="wish_item col-md-2">
            <div class="wish_content">
                Hi
            </div>
        </div>
        <div class="wish_item col-md-2">
            <div class="wish_content">
                Hi
            </div>
        </div>
        <div class="wish_item col-md-2">
            <div class="wish_content">
                Hi
            </div>
        </div>
        <div class="wish_item col-md-2">
            <div class="wish_content">
                Hi
            </div>
        </div>
        <div class="wish_item col-md-2">
            <div class="wish_content">
                Hi
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-2">
            <img src="static/img/item.jpeg" class="card-img-top" alt="item">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>

{{template "footer"}}